name: Prevent merge with 'do not merge' label

on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  prevent-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Check if PR has do not merge label
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const labels = github.context.payload.pull_request.labels;
            const doNotMergeLabel = 'do not merge';
            if (labels.some(label => label.name === doNotMergeLabel)) {
              github.actions.fail('PR flagged as do not merge, merge not allowed until label is removed');
            }